<br>
<form #categoriaForm="ngForm" (ngSubmit)="salvarCategoria(categoriaForm);">

  <div class="col-md-12 mt-3">
    <div class="row">
      <div class="col-md-6" *ngIf="categoria.id != 0">
        <div class="form-group">
          <label>Identificador:</label>
          <input type="text" class="form-control" name="id" id="id" [(ngModel)]="categoria.id" #id="ngModel" readonly>
        </div>
      </div>

      <div class="col-md-6">
        <div id="origem" class="form-group">
          <label>Nome:</label>
          <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="categoria.nome" #nome="ngModel" autocomplete="off"
            required>
            <button type="button" class="btn-md btn btn-danger margin pull-right" onclick="removerCampos(this);">
              Remover
            </button>
          <div [hidden]="nome.valid || nome.pristine">
            <span class="text-danger">Campo de preenchimento obrigatório.</span>
          </div>
        </div>
        <div id="destino"></div>
          
      </div>
      <div class="col-md-6">
        <button type="button" class="btn-md btn btn-success margin" onclick="duplicarCampos();">
          Adicionar
        </button>
      </div>
    </div>

    <button type="button" class="btn-md btn btn-info " routerLink="/admin/categoria">
      Voltar
    </button>

    <button type="submit" class="btn-md btn btn-success" [disabled]="! categoriaForm.valid">
      Salvar
    </button>
  </div>

</form>