<div class="container">
  <div class="row">
    <div class="col-md-12">
        <a routerLink="/admin/produto/inserir" type="button" class="btn btn-primary get">Novo Produto</a><br><br>
        <table class="table">
          <thead>
            <tr>
              <th title="Identificador da categoria.">#</th>
              <th title="Nome da categoria.">Produto</th>
              <th title="Nome da categoria.">Preço</th>
              <th title="Nome da categoria.">Categoria</th>
              <th title="Ações">Ações</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let produto of produtos">
              <th scope="row">{{produto.id}}</th>
              <td>{{produto.nome}}</td>
              <td>R$ {{produto.preco}}</td>
              <td>{{produto.categoria.nome}}</td>
             <td><button class="btn btn-danger" (click)="deletarProduto(produto.id, i)">Excluir</button> <button class=" btn btn-warning" [routerLink]="['/admin/produto/atualizar', produto.id]">Editar</button> <button class=" btn btn-info" [routerLink]="['/admin/produto/visualizar', produto.id]">Vizualizar</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
