<br>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Identificador:</label>
      <input type="text" class="form-control" aria-describedby="Identificador categoria" value="{{ categoria.id }}" disabled>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" class="form-control" aria-describedby="Nome da categoria" value="{{ categoria.nome }}" disabled>
    </div>
  </div>
</div>
<button class="btn-md btn btn-primary" routerLink="/admin/categoria">
  Voltar
</button>
