<br>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Identificador:</label>
      <input type="text" class="form-control" aria-describedby="Identificador categoria" value="{{ produto.id }}" disabled>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" class="form-control" aria-describedby="Nome da categoria" value="{{ produto.nome }}" disabled>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Preco:</label>
      <input type="text" class="form-control" aria-describedby="Identificador categoria" value="{{ produto.preco }}" disabled>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Descricao:</label>
      <input type="text" class="form-control" aria-describedby="Nome da categoria" value="{{ produto.descricao }}" disabled>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Categoria:</label>
      <input type="text" class="form-control" aria-describedby="Nome da categoria" value="{{ produto.categoria.nome }}" disabled>
    </div>
  </div>
</div>

<button class="btn-md btn btn-primary" routerLink="/admin/produto">
  Voltar
</button>
