
<header id="header"><!--header-->
    <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo pull-left">
              <a href="index.html">Pet Shop Vem K</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a onclick="$('.listagem').html('Listagem de Produtos')" style="cursor: pointer" [routerLink]="['/admin/produto']">Produtos</a></li>
                  <li><a onclick="$('.listagem').html('Listagem de Categorias')" style="cursor: pointer" [routerLink]="['/admin/categoria']">Categorias</a></li>
                  <li><a style="cursor: pointer">Meu Carrinho</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
  </header><!--/header-->

  