<div class="container">
    <div class="row">
      <div class="col-md-12">
          <a routerLink="/admin/categoria/inserir" type="button" class="btn btn-primary get">Nova Categoria</a><br><br>
          <table class="table">
              <thead>
                  <tr>
                    <th title="Identificador da categoria.">#</th>
                    <th title="Nome da categoria.">Categoria</th>
                    <th title="Ações">Ações</th>
                  </tr>
                </thead>
            <tbody>
             <tr *ngFor="let categoria of categorias">
                <th scope="row">{{categoria.id}}</th>
                <td>{{categoria.nome}}</td>
               <td><button class="btn btn-danger" ng-click="reloadRoute()" data-translate (click)="deletarCategoria(categoria.id, i)">Excluir</button> <button class=" btn btn-warning" [routerLink]="['/admin/categoria/atualizar', categoria.id]">Editar</button> <button class=" btn btn-info" [routerLink]="['/admin/categoria/visualizar', categoria.id]">Vizualizar</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
