<br>
<form #produtoForm="ngForm" (ngSubmit)="salvarProduto(produtoForm);">

  <div class="col-md-12 mt-3">
    <div class="row">
      <div class="col-md-6" *ngIf="produto.id != 0">
        <div class="form-group">
          <label>Identificador:</label>
          <input type="text" class="form-control" name="id" id="id" [(ngModel)]="produto.id" #id="ngModel" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome <span class="obrigatorio">*</span>:</label>
          <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="produto.nome" #nome="ngModel" autocomplete="off"
            required>

          <div [hidden]="nome.valid || nome.pristine">
            <span class="text-danger">Campo de preenchimento obrigatório.</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Preço <span class="obrigatorio">*</span>:</label>
          <input type="text" class="form-control" name="preco" id="preco" [(ngModel)]="produto.preco" #preco="ngModel" autocomplete="off"
            required>

          <div [hidden]="preco.valid || preco.pristine">
            <span class="text-danger">Campo de preenchimento obrigatório.</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Categoria <span class="obrigatorio">*</span>:</label>
          <select class="form-control" name="categoria" id="categoria" [(ngModel)]="produto.categoria" #categoria="ngModel">
            <option *ngFor="let categoria of categorias" [ngValue]="categoria" selected="categoria.id === produto.categoria.id">
              {{ categoria.nome }}
            </option>
          </select>

          <div [hidden]="categoria.valid || categoria.pristine">
            <span class="text-danger">Campo de preenchimento obrigatório.</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição <span class="obrigatorio">*</span>:</label>
          <textarea type="text" class="form-control" name="descricao" id="descricao" [(ngModel)]="produto.descricao" #descricao="ngModel" autocomplete="off"
            required></textarea>

          <div [hidden]="descricao.valid || descricao.pristine">
            <span class="text-danger">Campo de preenchimento obrigatório.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn-md btn btn-success" [disabled]="! produtoForm.valid">
            Salvar
        </button>
        <button type="button" class="btn-md btn btn-info" routerLink="/admin/categoria">
          Voltar
        </button>
      </div>
    </div>
  </div>

</form>
